html {
  background-color: #000000;
  
  height: 100%;
  
  font-size: 14px;
} 

html, body {
  background-color: #2091ea;
  
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  justify-content: center;
}

nav div {
  width: 100%;
  
  padding: 100px 100px;
  margin-top: 20px;
  
  text-align: center;
  background-color: coral;
  font-family: arial;
  
}

button{
    background-color: #000000;
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

nav .active {
  background-color: turquoise;
}

img {
    display: block;
    
    margin: auto;
    
    max-width: 60%;
    width: 30%;
    height: auto;
    margin: 100;
    padding: 100; 
}

body {
    
    
}

.logo{
    background-image: url("img/blue_glow.jpg");
    background-size: 100%;
}

